httpx==0.27.0
langchain
langchainhub
langchain-community
langchain-openai
langchain-groq
langchain_mistralai
langchain-chroma
langchain-ollama
faiss-cpu

python-dotenv

transformers
datasets
pypdf

translators

fastapi

redis

python-multipart